.login-container {
  box-sizing: border-box;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  border: 0;
  background-image: url("../assets/hero-image.jpg");
  background-repeat: no-repeat;
  background-color: black;
  background-size: cover;
  background-position: 0;
  width: 100%;
  min-height: 100vh;
  display: float;
}

.login-container form {
  width: 35%;
  margin-left: 58%;
  margin-top: 0%;
  padding-top: 80px;
  color: white;
  background-color: transparent;
}

.message-container {
  color: white;
}

@media (max-width: 768px) {
  .login-container form {
    width: 90%;
    margin: auto;
    padding-top: 20px;
    color: white;
    background-color: transparent;
  }
}
